*{
    box-sizing: border-box;!important;
}

body{
        margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
.topBar{
    position: relative;
    top: 0;
    padding: 10px;
    border-bottom: 1px solid rgba(87, 77, 77, 0.42);

}
.topBar i{
    padding: 2px;
}
.topBar a{
    padding: 0 15px;
    color: rgba(0, 0, 0, 0.4);

}
.map{
border-right: 1px solid rgba(0, 0, 0, 0.4);
}
header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.carousel-indicators button{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #ffca2c;
}
.carousel-caption h6{
    width: 140px;
    height: 25px;
}
.carousel-caption{
    top: 200px;
    width: 350px;

}
.nav-item span{
    width: 15px;
    height: 15px;
    padding: 3px;
}
.forSale .arekaa{
    max-width: 830px;
}
.forSale .arekaa:hover{
    transform: scale(1.1);
    transition: 1s ease-in;
}
.forSale .led{
    max-height: 490px;
}
.forSale .led:hover{
    transform: scale(1.1);
    transition: 1s ease-in;
}
button{
    background: none;
    border: 1px solid black;

}
.cptin1{
    top: 80px;
    left: 50px;
}
.sale{
    background-color: #e80f0f;
    padding: 5px;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 5;
}
.card.item{
    max-height: 350px;
    z-index: 1;
}
.circle:hover{
    background-color: red;
    color: white;
}
.circle{
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    margin: 3px;
    color: black;
    z-index: 5;
}
.circles{
    list-style: none;
    position: absolute;
    top: 10px;
    right: -50px;
    transition: right 0.5s ease-out;
    z-index: 5;
}
.card:hover .item{
    transform: scale(1.2);
    transition: 1s ease-in-out;
}
.card:hover .circles{
    list-style: none;
    position: absolute;
    top: 10px;
    right: 20px;
    transition: right 0.5s ease-in-out;
}
.card{
    overflow: hidden;
    border: none;
}
.name{
    color: rgba(0, 0, 0, 0.68);
}
.cost{
    display: block;
    margin-top: 7px;
    color: rgba(0, 0, 0, 0.56);

}
.select{
    padding-left: 120px;
    padding-bottom: 30px;
    margin-top: 80px;
    direction: rtl;
}
.kshaf{
    max-width: 400px;
}
.kshaf:hover{
    transform: scale(1.1);
    transition: 1s ease-in-out;
}
.bannerBox{
    width: 529px;
    height: 650px;
}
.banner1{
    max-height: 650px;
}
.banner1:hover{
    transform: scale(1.1);
    transition: 1s ease-in-out;
}
.topbox{
    position: absolute;
    top: 190px;
    right: 30px;
    width: 380px;
    height: 380px;
    border: 15px solid white;
}
.topimg{
    max-height: 380px;
}
.topimg:hover{
    transform: scale(1.1);
    transition: 1s ease-in-out;
}
.caption:after{
    content: " ";
    width: 40px;
    height: 2px;
    background-color: #f35624;
    position: absolute;
    top: 100px;
    right: 650px;
}
footer{
    background-color: #222;
    color: #777;
    height: 100vh;
}
footer i{
    padding: 5px;
}
.fottop{
    border-bottom: 1px solid #656262;
}
.fotbody{
    border-bottom: 1px solid #656262;
}
.fotbody .line:before{
    content: " ";
    width: 45px;
    height: 2px;
    background-color: #f34609;
    position: absolute;
    top: 80px;
}
.list{
    list-style: none;
    margin-top: 30px;
    padding: 0;
}
.list li{
    padding-bottom:10px ;
}
.count{
    background-color: #dc1313;
    color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1px;
}
.navbar-nav .nav-link:hover{
    color: #fd0101 !important;
}
.list li:hover{
    margin-left: 10px;
    color: #ce2121;
    transition: 1s ease-in-out margin-left;
}
.fottop i:hover{
    color: #ce2121;
}
.gray{
    background-color: #eeeeee;
}
.centr{
    width: 180px;
    height: 150px;
    margin: auto;
}
.to-top{
    background-color: #1e2125;
    padding: 20px;
    color: white;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 30px;
    z-index: 50;
    display: none;
}
.my-btn{
    display: block;
}
